body{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(4, 69, 99);
    align-items: center;
    justify-content: center;
}

.container{
    width: 600px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(24, 23, 23);
}

.titulo{
    font-size: 2rem;
    font-family: sans-serif;
    text-align: justify;
}